<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{source}} Documents</title>

  {% load static %}
  <!-- Bootstrap TAGS from (getbootstrap.com/docs) -->
  <!-- CSS -->
  <link href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- JavaScript -->
  <script src="{% static 'js\bootstrap.bundle.min.js' %}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <!-- Bootstrap TAGS -->

</head>

<body>
  <div class="container mb-5">
    <div class="d-flex bd-highlight">
      <p class="p-2 flex-grow-1 bd-highlight fs-5 fw-bold mt-5">{{source}} Documents</p>
      <p class="p-3 bd-highlight"><a href="/brc">Home</a></p>
      <p class="p-3 flex-shrink-1 bd-highlight fw-bold">Loggen in as {{request.session.first_name}}!</p>
      <p class="p-3 flex-shrink bd-highlight"><a href="/">Logout</a></p>
    </div>
    {% if not results %}
    <p class="fw-bold">Select one of the following:</p>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio1">Receiving</label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio2">Shipping</label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio3">Incoming Product</label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio4">Finished Product</label>
    </div>
    <form action="/reports/edit" method="POST">
      {% csrf_token %}
      <div class="col-2 g-5 mb-5 mt-5">
        <label class="form-label fw-bold">Select Date:</label>
        <input type="date" class="form-control" name="doc_date" value="{{request.session.plot}}">
      </div>
      <div class="d-grid gap-2 col-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form><br>
    <a href="/brc">Back to Main Menu</a>
    {% else %}
    xxx
    {% endif %}
  </div>
</body>

</html>