<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{source}}s Dashboard</title>

  {% load static %}
  <!-- Bootstrap TAGS from (getbootstrap.com/docs) -->
  <!-- CSS -->
  <link href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- JavaScript -->
  <script src="{% static 'js\bootstrap.bundle.min.js' %}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <!-- Bootstrap TAGS -->

</head>

<body>
  <div class="container mb-5">
    <div class="d-flex bd-highlight">
      <p class="p-2 flex-grow-1 bd-highlight fs-5 fw-bold mt-5">{{source}}s Manager<a href="/brc/{{path}}/add" class="btn btn-success ms-5" role="button">Add New {{source}}</a>
      </p>
      <p class="p-3 bd-highlight"><a href="/brc">Home</a></p>
      <p class="p-3 flex-shrink-1 bd-highlight fw-bold">Welcome {{request.session.first_name}}!</p>
      <p class="p-3 flex-shrink bd-highlight"><a href="/">Logout</a></p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone #</th>
          <th scope="col">Created at</th>
          <th scope="col">{{source}} Active</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for other in all_others %}
        {% if other.active %}
        <tr>
          <td>{{other.name}}</td>
          <td>{{other.city}}, {{other.state}}</td>
          <td>{{other.phone}}</td>
          <td>{{other.created_at|date:"m/d/Y"}}</td>
          <td>{{other.active}}</td>
          <td>
            <a href="/brc/{{path}}/edit/{{other.id}}" class="btn btn-primary" role="button">Edit</a>
            <a href="/brc/{{path}}/inactive/{{other.id}}" class="btn btn-danger" role="button">Deactivate</a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td><del>{{other.name}}</del></td>
          <td><del>{{other.city}}, {{other.state}}</del></td>
          <td><del>{{other.phone}}</del></td>
          <td><del>{{other.created_at|date:"m/d/Y"}}</del></td>
          <td>{{other.active}}</td>
          <td>
            <a href="/brc/{{path}}/edit/{{other.id}}" class="btn btn-primary disabled" role="button">Edit</a>
            <a href="/brc/{{path}}/inactive/{{other.id}}" class="btn btn-success" role="button">Activate</a>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>